<% content_for :breadcrumbs do %>
  <ol>
    <li><a href="<%= new_scrapbook_search_path(current_scrapbook) %>">Search</a></li>
    <li>Saved roles</li>
  </ol>
<% end %>

  <h2 class="heading-xlarge">Your saved roles</h2>

  <% if current_scrapbook.occupations.any? %>
    <p class="lede">You can use this information to:</p>
    <ul class="list list-bullet">
      <li>help your work search</li>
      <li>tailor your CV</li>
      <li>look for training</li>
    </ul>
    <p>You can talk to your work coach about these roles too.</p>
    <hr>
    <% current_scrapbook.occupations.each do |occupation| %>
      <section id="occupation-<%= occupation.soc_code %>">
        <%= render "occupations/details", occupation: occupation %>
        <%= form_tag(scrapbook_saved_occupation_path(current_scrapbook, occupation), remote: true, method: "DELETE",
              id: "remove-occupation-#{occupation.soc_code}-form", class: "remove-occupation-form") do |f| %>
          <input type="submit" id="remove-occupation-<%= occupation.soc_code %>" class="link-button" value="Remove role">
        <% end %>
      </section>
      <hr>
    <% end %>
  <% else %>
    <p class="lede">You don't have any saved roles</p>
    <p class="lede">Search again to discover more:</p>
    <ul class="list list-bullet">
      <li>roles that match your interests</li>
      <li>types of places you could work</li>
      <li>ways to use your skills</li>
    </ul>
    <hr>
  <% end %>

<p><a href="<%= new_scrapbook_search_path(current_scrapbook) %>" class="link-back">Search again</a></p>
