<% content_for(:page_title_prefix, "Your saved roles") %>

<% content_for :breadcrumbs do %>
  <nav id="global-breadcrumb">
    <ul class="breadcrumbs">
      <li><a href="<%= scrapbook_introduction_path(current_scrapbook) %>">Introduction</a></li>
      <li><a href="<%= new_scrapbook_search_path(current_scrapbook) %>">Search</a></li>
      <li>Saved roles</li>
    </ul>
  </nav>
<% end %>

<h1 class="heading-xlarge">Your saved roles</h1>

<% if current_scrapbook.occupations.any? %>
  <div id="scrapbook-preamble">
    <%= render "scrapbooks/preamble" %>
  </div>
  <% current_scrapbook.occupations.each do |occupation| %>
    <section id="occupation-<%= occupation.soc_code %>">
      <%= render "scrapbooks/details", occupation: occupation %>
      <%= form_tag(scrapbook_saved_occupation_path(current_scrapbook, occupation), remote: true, method: "DELETE",
            id: "remove-occupation-#{occupation.soc_code}-form", class: "remove-occupation-form") do |f| %>
        <input type="submit" id="remove-occupation-<%= occupation.soc_code %>" class="link-button" value="Remove role" aria-describedby="occupation-title-<%= occupation.soc_code %>">
      <% end %>
    </section>
    <hr>
  <% end %>
<% else %>
  <div id="scrapbook-preamble">
    <%= render "scrapbooks/preamble_empty" %>
  </div>
<% end %>

<p><a href="<%= new_scrapbook_search_path(current_scrapbook) %>" class="link-back">Search again</a></p>
