<div class="grid-row full-width">
  <div class="column-two-thirds">
    <h2 class="bold-large">Results</h2>
  </div>
  <div class="column-one-third">
    <p>
      <a href="/" class="right">Change search</a>
    </p>
  </div>
</div>

<p class="lede">These are some job roles related to your search.</p>

<%= form_tag("/job_review", method: "get") do %>
  <% @keywords.each do |keyword| %>
    <section>
      <fieldset class="form-group">
        <h3 class="bold-medium job-description-title">Jobs related to ‘<%=keyword[:title]%>‘</h3>
        <% keyword[:results].each do |result| %>
          <label class="block-label">
            <%= check_box_tag 'TODO' %>
            <h4 class="bold-small"><%= result[:title] %></h4>
            <p><%= result[:description] %></p>
          </label>
        <% end %>
      </fieldset>
    </section>
  <% end %>

  <div class="form-group">
    <button type=submit class=button>Next</button>
  </div>
<% end %>

<footer>
  <a href="/" class="link-back">start again</a>
</footer>
