<div id="success" class="information-box">
  <p>
    "<%= @occupation.title %>" saved.
    <p><%= link_to("See saved #{pluralize_without_count(current_scrapbook.saved_occupations.size, "role")}", current_scrapbook) %></p>
  </p>
</div>

<p>
  <a href="<%= scrapbook_occupation_path(soc_code: @occupation.soc_code, query: @query) %>" id="back-to-occupation" class="link-back">Back to "<%= @occupation.title %>"</a><br>
  <a href="<%= scrapbook_search_path(query: @query) %>" id="back-to-search-results" class="link-back">Back to search results</a>
</p>
