<%# NOTE! :page_title_prefix content_for blocks are directly in the erb below %>

<% content_for :breadcrumbs do %>
<ol>
  <li><a href="<%= scrapbook_introduction_path(current_scrapbook) %>">Introduction</a></li>
  <li><a href="<%= new_scrapbook_search_path(current_scrapbook) %>">Search</a></li>
  <li>Results</li>
</ol>
<% end %>

<h2 class="heading-xlarge">Find information on roles</h2>

<%= render "searches/form", query: @query, show_hints: @search_results.empty? %>

<% if @query.blank? %>
  <% content_for(:page_title_prefix, "No search entered") %>
  <h3 class="bold-medium job-description-title">No search entered</h3>
  <p>To find work you could do, please enter a role, skill or interest.</p>
<% else %>
  <section class="search-results">
    <h3 class="bold-medium job-description-title">
      <%= pluralize_without_count(@search_results.size, "Role") %> related to <%= @query %>
    </h3>
    <% if @search_results.empty? %>
      <% content_for(:page_title_prefix, "No results found for: #{@query}") %>
      <p>No roles matched your search. Please check the spelling or try a different search.</p>
    <% else %>
      <% content_for(:page_title_prefix, "Search results for: #{@query}") %>
      <% @search_results.each do |search_result| %>
      <a href="<%= scrapbook_occupation_path(current_scrapbook, soc_code: search_result.soc, from_query: @query) %>" class="search-result">
        <h4 class="bold-small">
          <%= search_result.title %>
        </h4>
        <p><%= search_result.description %></p>
      </a>
      <% end %>
    <% end %>
  </section>
<% end %>
