<h1 class="heading-xlarge">How to use this information</h1>

<div class="grid-row">
  <div class="column-half example-box">
    <h2 class="heading-small">Kind of work you’d do</h2>
    <ul class="list-bullet" id="occupation-tasks">
      <% formatted_tasks(occupation.tasks).each do |task| %>
          <li><%=task%></li>
      <% end %>
    </ul>
  </div>
  <div class="column-half">
    <h3 class="heading-small">Use this to:</h3>
    <ul class="list-bullet">
      <li>see what work you might be doing in the role</li>
      <li>check if you have the right skills</li>
      <li>update your CV to show that you have skills or experience that fit the job</li>
      <li>think of relevant experience that you can share with an employer</li>
    </ul>
  </div>
</div>

<div class="grid-row">
  <div class="column-half example-box">
    <h2 class="heading-small">Words to use in your online search</h2>
    <em id="occupation-additional-titles"><%= occupation.additional_titles %></em>
  </div>
  <div class="column-half">
    <h3 class="heading-small">Use this to:</h3>
    <ul class="list-bullet">
      <li>search job adverts – they can use different names for similar roles, so search with some of these words to find more adverts</li>
    </ul>
  </div>
</div>

<div class="grid-row">
  <div class="column-half example-box">
    <h2 class="heading-small">Qualifications you’ll need</h2>
    <p id="occupation-qualifications"><%= occupation.qualifications %></p>
  </div>
  <div class="column-half">
    <h3 class="heading-small">Use this to:</h3>
    <ul class="list-bullet">
      <li>see the sort of qualifications you usually need for this role</li>
      <li>figure out what training you need, so you can work out where to get it</li>
      <li>plan a career path and discuss next steps with your work coach</li>
    </ul>
  </div>
</div>

<div class="grid-row">
  <div class="column-half example-box">
    <h2 class="heading-small">Your typical pay and hours</h2>
    <ul>
      <li>Around <span id="occupation-week-hours"><%= occupation.week_hours %></span> hours a week</li>
      <li>Around £<span id="occupation-week-pay"><%= occupation.week_pay %></span> a week</li>
    </ul>
  </div>
  <div class="column-half">
    <h3 class="heading-small">Use this to:</h3>
    <ul class="list-bullet">
      <li>get a rough idea of how many hours per week you'd be working and how much you'd be paid</li>
      <li>look for a career path that might make you more money</li>
    </ul>
  </div>
</div>
