<% content_for(:page_title_prefix, "How to use this information") %>

<% content_for :breadcrumbs do %>
  <nav id="global-breadcrumb">
    <ul class="breadcrumbs">
      <li><a href="<%= scrapbook_introduction_path(current_scrapbook) %>">Introduction</a></li>
      <li><a href="<%= new_scrapbook_search_path(current_scrapbook) %>">Search</a></li>
      <li><a href="<%= scrapbook_search_path(current_scrapbook, query: @from_query) %>">Results</a></li>
      <li><a href="<%= scrapbook_occupation_path(current_scrapbook, soc_code: @occupation.soc_code, query: @from_query) %>"><%= @occupation.title %></a></li>
      <li>How-to</li>
    </ul>
  </nav>
<% end %>

<%= render "occupation_how_to/details", occupation: @occupation %>

<%= form_tag(scrapbook_saved_occupations_path(current_scrapbook), remote: true, method: "POST",
             id: "save-occupation-form", class: "save-occupation-form") do |f| %>
  <input type="hidden" name="soc_code" value="<%= @occupation.soc_code %>">
  <input type="hidden" name="from_query" value="<%= @from_query %>">
  <input type="submit" id="save-occupation"  class="button" value="Save">
<% end %>

<p><a href="<%= scrapbook_occupation_path(current_scrapbook, soc_code: @occupation.soc_code, from_query: @from_query) %>" id="back-to-role" class="link-back">Role</a></p>
