<header>
  <h2 class="heading-xlarge">Your work search activities</h2>
</header>

<p class="heading-small">You have highlighted <%=@report.accepted_occupations.count%>
job descriptions you found interesting.</p>
<ul class="list list-bullet">
<% @report.accepted_occupations.each do |occupation| %>
  <li><%=occupation.title%></li>
<% end %>
</ul>

<% @report.unique_actions.each do |action| %>
  <p class="heading-small"><%= action.title %></p>
  <ul class="list list-bullet">
    <% @report.accepted_occupations_for_action_type(action.action_type).each do |occ| %>
      <li><%=occ.title%></li>
      <% if action.action_type == "notes" %>
        <pre><%=action.notes %></pre>
      <% end %>
    <% end %>
  </ul>
<% end %>
<hr>

<h2 class="heading-xlarge">Work you could do</h2>

<% @report.accepted_occupations.each do |occupation| %>
  <section>
    <%= render partial: "occupation", locals: { occupation: occupation } %>
    <hr>
  </section>
<% end %>

