<% occupation = @report.occupations_to_review.first %>
<section>

  <div class="grid-row">

    <div class="column-three-quarters">
      <p class="lede">Use this information to search online, tailor your CV and plan your career.</p>
    </div>

    <div class="column-one-quarter">
      <% total_to_review = @report.occupations_to_review.count + @report.occupations_reviewed.count %>
      <p class="text-secondary right"><%= @report.occupations_reviewed.count + 1 %> of <%= total_to_review %></p>
    </div>

  </div>

  <%= render partial: "occupation", locals: { occupation: occupation } %>
  <hr>
</section>

<%= form_for([ @report, occupation]) do |f| %>
  <div class="show-if-accept">
    <h3 class="heading-medium">What would you like to do</h3>
    <section>
      <fieldset class="form-group">
          <% @actions.each do |action, details| %>
            <label class="block-label action-label">
              <%= check_box_tag "actions[#{action}]", nil, false, "title": "Select action #{action}" %>
              <h4 class="bold-small"><%=details[:title]%></h4>
              <% if action == :notes %>
                <%= text_area_tag "notes", nil, rows: 5, class: "notes-area" %>
              <% end %>
            </label>
          <% end %>
      </fieldset>
      <fieldset class="form-group width-action-select">
        <a href="<%=root_url%>" class="link-back">start again</a>
        <button type=submit class="button right">Next</button>
      </fieldset>
      <fieldset class="width-action-select">
        <p class="font-xsmall right"> <%=@report.occupations_to_review.count - 1 %> job descriptions left to read</p>
      </fieldset>
    </section>
  </div>
<% end %>
