<header>
  <h2 class="bold-large">Work you could do</h2>
</header>

<% occupation = @report.occupations_to_review.first %>
<section>
  <div class="job_item">
    <header>
      <% total_to_review = @report.occupations_to_review.count + @report.occupations_reviewed.count %>
      <p class="text-secondary">Job description <%= @report.occupations_reviewed.count + 1 %> of <%= total_to_review %></p>
      <h2 class="bold-large"><%= occupation.title %></h2>
    </header>
    <p><%= occupation.description %></p>

    <p class="lede">Use this information to search online, tailor your CV and plan your career.</p>

    <div class="grid-row">
      <div class="column-half">
        <h3 class="heading-small">Typical pay and hours</h3>
        <ul>
          <li>Normal hours worked per week: <%= occupation.week_hours %></li>
          <li>Estimated weekly pay: £<%= occupation.week_pay %></li>
        </ul>
      </div>
      <div class="column-half">
        <h3 class="heading-small">Typical qualifications required</h3>
        <p><%= occupation.qualifications %></p>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-half">
       <h3 class="heading-small">Typical tasks</h3>
        <ul class="list-bullet">
          <% formatted_tasks(occupation.tasks).each do |task| %>
            <li><%=task%></li>
          <% end %>
        </ul>
      </div>

      <div class="column-half">
        <h3 class="heading-small">Useful search terms</h3>
        <em><%= occupation.additional_titles %></em>
      </div>
    </div>
  </div>
  <hr>
</section>

<%= form_for([ @report, occupation]) do |f| %>
  <div class="show-if-accept">
    <h3 class="heading-medium">What would you like to do</h3>
    <section>
      <fieldset class="form-group">
          <% @actions.each do |action| %>
            <label class="block-label action-label">
              <%= check_box_tag "actions[#{action[:key]}]", nil, false, "title": "Select action #{action[:key]}" %>
              <h4 class="bold-small"><%=action[:title]%></h4>
              <% if action[:key] == "notes" %>
                <%= text_area_tag "notes", nil, rows: 5, class: "notes-area" %>
              <% end %>
            </label>
          <% end %>
      </fieldset>
    </section>
  </div>
  <div class="form-group">
    <button type=submit class=button>Next</button>
  </div>
<% end %>
