<header>
  <h2 class="heading-xlarge">Work you could do</h2>
</header>

<p class="lede">Use this information to search online, tailor your CV and plan your career.</p>

<% if @notice %>
  <div id="success" class="error-summary information-box" role="group">
    <p class="heading-medium error-summary-heading">
      <%= @notice %>
    </p>
  </div>
<% end %>

<p class="heading-small email-help">Send this to your email account so you can refer to it later.</p>
<%= form_for @report, url: email_report_url(@report), method: "post" do %>
  <fieldset class="form-fieldset">
    <div class="form-group <% if @error %>error<% end %>">
      <label class="form-label" for="email">
        <span class="form-label<% if @error %>-bold<% end %>">Email address</span>
        <% if @error %>
          <span class="error-message"><%= @error %></span>
        <% end %>
      </label>
      <%= email_field_tag "email", nil, class: 'form-control' %>
      <input type="submit" class="button" value="Send">
    </div>
  </fieldset>
<% end %>

<% @report.selected_occupations.each do |occupation| %>
  <section>
    <div class="job_item">
      <header>
        <h2 class="heading-large"><%= occupation.title %></h2>
      </header>

      <p><%= occupation.description %></p>

      <div class="grid-row">
        <div class="column-half">
          <h3 class="heading-small">Typical pay and hours</h3>
          <ul>
            <li>Normal hours worked per week: <%= occupation.week_hours %></li>
            <li>Estimated weekly pay: £<%= occupation.week_pay %></li>
          </ul>
        </div>
        <div class="column-half">
          <h3 class="heading-small">Typical qualifications required</h3>
          <p><%= occupation.qualifications %></p>
        </div>
      </div>

      <div class="grid-row">
        <div class="column-half">
         <h3 class="heading-small">Typical tasks</h3>
          <ul class="list-bullet">
            <% formatted_tasks(occupation.tasks).each do |task| %>
              <li><%=task%></li>
            <% end %>
          </ul>
        </div>

        <div class="column-half">
          <h3 class="heading-small">Useful search terms</h3>
          <em><%= occupation.additional_titles %></em>
        </div>
      </div>
    </div>
    <hr>
  </section>
<% end %>
