<header>
  <h2 class="heading-xlarge">Your work search activities</h2>
</header>

<% if @notice %>
  <div id="success" class="error-summary information-box" role="group">
    <p class="heading-medium error-summary-heading">
      <%= @notice %>
    </p>
  </div>
<% end %>

<p class="heading-small">You have highlighted <%=@report.accepted_occupations.count%>
job descriptions you found interesting.</p>
<ul class="list list-bullet">
<% @report.accepted_occupations.each do |occupation| %>
  <li><a href="#<%=occupation.id%>"><%=occupation.title%></a></li>
<% end %>
</ul>

<% @report.unique_actions.each do |action| %>
  <p class="heading-small"><%= action.title %></p>
  <ul class="list list-bullet">
    <% @report.accepted_occupations_for_action_type(action.action_type).each do |occ| %>
      <li><a href="#<%=occ.id%>"><%=occ.title%></a></li>
      <% if action.action_type == "notes" %>
        <pre><%=occ.action_by_type(action.action_type).notes %></pre>
      <% end %>
    <% end %>
  </ul>
<% end %>
<hr>
<p class="heading-small email-help">Send this to your email account so you can refer to it later.</p>
<%= form_for @report, url: email_report_url(@report), method: "post" do %>
  <fieldset class="form-fieldset">
    <div class="form-group <% if @error %>error<% end %>">
      <label class="form-label" for="email">
        <span class="form-label<% if @error %>-bold<% end %>">Email address</span>
        <% if @error %>
          <span class="error-message"><%= @error %></span>
        <% end %>
      </label>
      <%= email_field_tag "email", nil, class: 'form-control' %>
      <input type="submit" class="button" value="Send">
    </div>
  </fieldset>
<% end %>
<p class="heading-small">Save this link to your journal so that you and your work coach can refer to it later.</p>
<div class="form-label"><%=root_url+@report.guid%></div>
<hr>

<h2 class="heading-xlarge">Work you could do</h2>

<% @report.accepted_occupations.each do |occupation| %>
  <section id="<%=occupation.id%>">
    <div class="job_item">
      <header>
        <h2 class="heading-large"><%= occupation.title %></h2>
      </header>

      <p><%= occupation.description %></p>

      <div class="grid-row">
        <div class="column-half">
          <h3 class="heading-small">Typical pay and hours</h3>
          <ul>
            <li>Normal hours worked per week: <%= occupation.week_hours %></li>
            <li>Estimated weekly pay: £<%= occupation.week_pay %></li>
          </ul>
        </div>
        <div class="column-half">
          <h3 class="heading-small">Typical qualifications required</h3>
          <p><%= occupation.qualifications %></p>
        </div>
      </div>

      <div class="grid-row">
        <div class="column-half">
         <h3 class="heading-small">Typical tasks</h3>
          <ul class="list-bullet">
            <% formatted_tasks(occupation.tasks).each do |task| %>
              <li><%=task%></li>
            <% end %>
          </ul>
        </div>

        <div class="column-half">
          <h3 class="heading-small">Useful search terms</h3>
          <em><%= occupation.additional_titles %></em>
        </div>
      </div>
    </div>
    <hr>
  </section>
<% end %>
